*
  box-sizing: border-box

body
  background: #ccc

img
  max-width: 100%

table
  width: 100%
  text-align: center

td
  vertical-align: middle

svg
  width: 100%

.player-container
  position: absolute
  left: 0
  right: 0
  z-index: 5
  width: 100%
  height: 100%

.table
  position: absolute
  background-color: #E6E6E6
  top: 20%
  left: 25%
  height: 60%
  width: 50%

.open-table
  top: 13%
  left: 15%
  height: 74%
  width: 70%
  z-index: 20

.vs-icon
  position: absolute
  z-index: 30
  top: 50%
  left: 50%
  height: 24vw
  width: 24vw
  margin-left: -12vw
  margin-top: -12vw
  border-radius: 50%
  border: 0 dashed #ccc
  background: rgba(255,255,255,0)

.panon
  border: 3px dashed #ccc
  background: rgba(255,255,255,0.75)

.close-icon
  position: absolute
  top: -30px
  right: -30px
  height: 40px
  width: 40px
  border-radius: 50%
  background-color: #808080
  text-align: center
  color: #fff
  font-size: 30px
  line-height: 35px

.mp-box
  position: absolute
  text-align: center
  width: 30vw
  min-height: 30vw
  z-index: 10
  color: #fff

.mp-empty
  border: 1px dashed #aaa
  background-color: rgba(0,0,0,0.25)

.mp-counters
  position: absolute
  vertical-align: middle
  top: 0
  left: 0
  height: 100%
  width: 100%

.mp-level
  vertical-align: middle
  height: 16.8vw
  font-size: 9vw

.mp-gear
  vertical-align: middle
  height: 8vw
  font-size: 5vw

.combat-container
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.combat-box
  overflow: hidden
  position: absolute
  bottom: 3%
  width: 100%

.round-button
  height: 10vw
  width: 10vw
  padding: 0
  border: none
  border-radius: 50%
  color: #808080
  background-color: #ccc
  text-align: center
  color: #fff
  font-size: 5vw
  margin: 1vw 0

.combat-box:first-child
  top: 3%
  bottom: auto

.combat-icon
  height: 10vw
  width: 10vw
  top: 50%
  left: 50%
  margin-top: -5vw
  margin-left: -5vw
  position: absolute

.combat-power
  width: 60%
  font-size: 24vw
  line-height: 32vw
  color: #666

.lg-number
  font-size: 20vw
  line-height: 26vw
  color: #666

.combat-increment, .combat-decrement
  width: 20%

.combat-increment
  text-align: left

.combat-decrement
  text-align: right

.sheet-meepo
  margin: 5% auto
  width: 60%

#cursor
  position: absolute
  z-index: 999
  height: 11vw
  width: 11vw
  margin-left: -5.5vw
  margin-top: -5.5vw
  padding: 0
  border: none
  border-radius: 50%
  background-color: #a00
  opacity: 0.5

#radial-menu
  width: 32vw
  height: 32vw
  margin-top: -16vw
  margin-left: -16vw
  border: 2px dashed #a00
  position: absolute
  top: 0
  left: 0
  border-radius: 50%
  z-index: 998
