*
  box-sizing: border-box

body
  background: #ccc

img
  max-width: 100%

table
  width: 100%
  text-align: center

td
  vertical-align: middle

svg
  width: 100%

// .player-container
//   position: absolute
//   left: 0
//   right: 0
//   z-index: 5
//   width: 100%
//   height: 100%

.table
  position: absolute
  background-color: #E6E6E6
  bottom: 20%
  left: 25%
  height: 60%
  width: 50%

.open-table
  bottom: 50%
  left: 50%
  height: 74vh
  margin-bottom: -37vh
  width: 70vw
  margin-left: -35vw
  z-index: 20

.close-icon
  position: absolute
  top: -30px
  right: -30px
  height: 40px
  width: 40px
  border-radius: 50%
  background-color: #808080
  text-align: center
  color: #fff
  font-size: 30px
  line-height: 35px

.mp-box
  position: absolute
  text-align: center
  width: 30vw
  min-height: 15vh
  z-index: 10
  color: #fff

.mp-bench
  z-index: 0
  border-radius: 50%
  height: 30vw
  width: 30vw
  background: #ddd
  position: absolute

.mp-counters
  position: absolute
  vertical-align: middle
  top: 0
  left: 0
  height: 100%
  width: 100%

.mp-level
  vertical-align: middle
  height: 16.8vw
  font-size: 9vw

.mp-gear
  vertical-align: middle
  height: 8vw
  font-size: 5vw

.combat-container
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.combat-box
  overflow: hidden
  position: absolute
  bottom: 3%
  width: 100%

.round-button
  height: 10vw
  width: 10vw
  padding: 0
  border: none
  border-radius: 50%
  background-color: #ccc
  color: #fff
  text-align: center
  font-size: 5vw
  margin: 1vw 0

.fight-button
  margin: 0

.combat-box:first-child
  top: 3%
  bottom: auto

$combat-icon-size: 8vw
.combat-icon
  height: $combat-icon-size
  width: $combat-icon-size
  top: 50%
  left: 50%
  margin-top: -$combat-icon-size/2
  margin-left: -$combat-icon-size/2
  position: absolute

.combat-power
  width: 60%
  font-size: 24vw
  line-height: 32vw
  color: #666

.lg-number
  font-size: 20vw
  line-height: 26vw
  color: #666

.combat-increment, .combat-decrement
  width: 20%

.combat-increment
  text-align: left

.combat-decrement
  text-align: right

.sheet-meepo
  margin: 5% auto
  width: 60%

#cursor
  position: absolute
  z-index: 999
  height: 11vw
  width: 11vw
  margin-left: -5.5vw
  margin-top: -5.5vw
  padding: 0
  border: none
  border-radius: 50%
  background-color: #a00
  opacity: 0.5

#radial-menu
  width: 32vw
  height: 32vw
  margin-top: -16vw
  margin-left: -16vw
  // border: 2px dashed #a00
  position: absolute
  top: 0
  left: 0
  border-radius: 50%
  z-index: 998


overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 34
  background: rgba(0,0,0,0.5)

$panon-table-size: 64vw
panon-table
  visibility: hidden

.panon-table-up
  visibility: visible
  position: absolute
  height: $panon-table-size
  width: $panon-table-size
  top: 50%
  left: 50%
  margin-top: -$panon-table-size/2
  margin-left: -$panon-table-size/2
  background: rgba(255,255,255,0.75)
  border-radius: 50%
  z-index: 35

$player-button-size: 24vw
.player-button
  margin-left: -$player-button-size/2
  margin-bottom: -$player-button-size/2
  height: $player-button-size
  width: $player-button-size
  padding: 0
  border: none
  border-radius: 50%
  background-color: #ccc
  color: #fff
  font-size: 5vw
  position: absolute
  z-index: 30
  bottom: 50%
  left: 50%

  img
    margin: 20%
    max-width: 60%

.level-up
  margin-bottom: ($panon-table-size/2 - $player-button-size/2)

.level-down
  margin-bottom: -($panon-table-size/2 + $player-button-size/2)

.gear-up
  margin-left: ($panon-table-size/2 - $player-button-size/2)

.gear-down
  margin-left: -($panon-table-size/2 + $player-button-size/2)

.vs-icon
  position: absolute
  bottom: 50%
  left: 50%
  height: 24vw
  width: 24vw
  margin-left: -12vw
  margin-bottom: -12vw
  border-radius: 50%
  z-index: 20

.panon-table
  // border: 3px dashed #ccc
  background: rgba(255,255,255,0.95)

.trash-zone
  background: #ddd
  width: 32vw
  height: 32vw
  border-radius: 50%
  top: -12vw
  left: -12vw
  position: fixed

  img
    max-width: 16vw
    left: 12vw
    top: 13vw
    position: relative

bench-menu
  position: absolute
  top: 40vw
  left: 50%
  z-index: 20
  width: 36vw
  text-align: center
  margin-left: -18vw
  padding: 2vw
  background: #ddd

.bench-meepo
  width: 9vw
  height: 9vw
  margin-top: 3vw
  margin-right: 0.5vw
  position:relative

.instruction
  font-size: 3.25vw
  line-height: 1.2
  color: #555
