<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">

  <title>Munchful Table</title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="import" href="/components/supersonic/components/import.html">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/hammerjs/hammer.js"></script>
  <script src="/components/tinycolor/tinycolor.js"></script>
  <script src="/components/ryanmullins-angular-hammer/angular.hammer.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents-lite.js"></script>

  <script src="/scripts/application.js"></script>
</head>
<body ng-app="SteroidsApplication">
<div ng-controller="IndexController">
  <!-- Cursor -->
  <button id="cursor" class="round-button" style="background:{{cursorBg}};left:{{mx}}px;top:{{my}}px"></button>

  <!-- Full Screen Button (not implemented) -->
  <!-- <button id="fullscreen" class="round-button" style="top:0;left:0" ng-click="toggleFullScreen()">F</button> -->

  <!-- Players containers -->
  <div ng-repeat='player in players' style="left:{{player.position[0]}}px;top:{{player.position[1]}}px;transform:rotate({{player.position[2]}}deg);" class="mp-box" hm-panstart="panningOn(player, true)" hm-panmove="" hm-panend="positionCheck(player)" ng-click="selectPlayer(player)" ng-show='player.active'>
    <svg version="1.1" x="0" y="0" viewBox="0 0 200 170">
      <ellipse fill="{{player.color[0]}}" cx="100" cy="90" rx="100" ry="80"></ellipse>
      <ellipse fill="{{player.color[1]}}" cx="100" cy="56" rx="56" ry="56"></ellipse>
    </svg>
    <table class="mp-counters">
      <tr>
        <td class="mp-level">{{player.lvl}}</td>
      </tr>
      <tr>
        <td class="mp-gear">{{player.lvl + player.gear}}</td>
      </tr>
    </table>
  </div>


  <!-- Overlay -->
  <overlay ng-show="overlayOn" ng-click="closeRadial()"></overlay>


  <!-- Bench menu -->
  <bench-button ng-include="'bench-menu.html'" style="left:{{players[3].position[0]}}px;top:{{players[3].position[1]}}px;"></bench-button>
  <benches ng-show='panBench'>
    <div ng-repeat='player in players' style="left:{{player.position[0]}}px;top:{{player.position[1]}}px;" class="mp-bench"></div>
  </benches>
  <div class="animation-box" style="left:{{currentPlayer.position[0]}}px;top:{{currentPlayer.position[1]}}px;transform:rotate({{currentPlayer.position[2]}}deg);">
    <svg class="animated {{animationName}}" ng-include="animationPartial" version="1.1" viewBox="0 0 79 79"  fill="{{currentPlayer.color[0]}}"></svg>
    <!-- <div class="animated {{animationName}}">
      {{animationText}}
    </div> -->
  </div>


  <!-- Pan on menu -->
  <panon-menu id='panon-menu' class="{{panMenu ? 'panon-menu-up' : ''}}" style="border:1vw solid {{cursorBg}};">
    <div id='vs-icon' style="background:{{cursorBg}}" class="vs-icon panon-menu" ng-click="combatMove(currentPlayer)">
      <img src="/assets/vswhite.png"/>
    </div>

    <button id='lvl-up' style="background:{{cursorBg}}" class="player-button level-up" ng-click="playerUpdate(currentPlayer, +1, 'lvl')">
      <svg ng-include="'/assets/_lvlup.svg'" version="1.1" viewBox="0 0 79 79"  fill="#ffffff"></svg>
    </button>

    <button id='lvl-down' style="background:{{cursorBg}}" class="player-button level-down" ng-click="playerUpdate(currentPlayer, -1, 'lvl')">
      <svg ng-include="'/assets/_lvldown.svg'" version="1.1" viewBox="0 0 79 79"  fill="#ffffff"></svg>
    </button>

    <button id='gear-up' style="background:{{cursorBg}}" class="player-button gear-up" ng-click="playerUpdate(currentPlayer, +1, 'gear')">
      <svg ng-include="'/assets/_gearup.svg'" version="1.1" viewBox="0 0 79 79"  fill="#ffffff"></svg>
    </button>

    <button id='gear-down' style="background:{{cursorBg}}" class="player-button gear-down" ng-click="playerUpdate(currentPlayer, -1, 'gear')">
      <svg ng-include="'/assets/_geardown.svg'" version="1.1" viewBox="0 0 79 79"  fill="#ffffff"></svg>
    </button>

    <div id='trash-zone' style="background:{{cursorBg}}" class="trash-zone" ng-click="benchPlayer(currentPlayer)">
      <img src="/assets/trashcan.png"/>
    </div>
  </panon-menu>


  <!-- Combat/Sheet Table -->
  <div class="{{inCombat || inPlayer ? 'open-table' : ''}} table">
    <div class="close-icon" ng-show="inCombat || inPlayer" ng-click="inCombat = false; inPlayer = false">
      <svg ng-include="'/assets/_close.svg'" version="1.1" viewBox="0 0 100 100"  fill="#ffffff"></svg>
    </div>

    <div class="combat-container" ng-show="inCombat">
      <table class="combat-box">
        <tr>
          <td class="combat-decrement">
            <button class="round-button" ng-click="playerBonus = playerBonus - 1">-1</button>
            <button class="round-button" ng-click="playerBonus = playerBonus - 5">-5</button>
          </td>
          <td class="combat-power" style="color:{{combatants[0].color[0]}}">{{combatants[0].lvl + combatants[1].lvl + combatants[2].lvl + combatants[3].lvl + combatants[4].lvl + combatants[5].lvl + combatants[0].gear + combatants[1].gear + combatants[2].gear + combatants[3].gear + combatants[4].gear + combatants[5].gear + playerBonus}}</td>
          <td class="combat-increment">
            <button class="round-button" ng-click="playerBonus = playerBonus + 1">+1</button>
            <button class="round-button" ng-click="playerBonus = playerBonus + 5">+5</button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="round-button fight-button" ng-repeat="combatant in combatants" hm-pan="combatRemove(combatant)" style="background:{{combatant.color[0]}}">{{combatant.lvl}}</button>
          </td>
        </tr>
      </table>
        <img class="combat-icon" src="/assets/vs.png"/>
      <table class="combat-box">
        <tr>
          <td colspan="3">
            <img src="/assets/{{monsterTier}}.png" class="round-button monster-button" style="top: 1.5vw;position:relative" />
          </td>
        </tr>
        <tr>
          <td class="combat-decrement">
            <button class="round-button" ng-click="monsterFunction(-1)">-1</button>
            <button class="round-button" ng-click="monsterFunction(-5)">-5</button>
          </td>
          <td class="combat-power">{{monsterPower}}</td>
          <td class="combat-increment">
            <button class="round-button" ng-click="monsterFunction(+1)">+1</button>
            <button class="round-button" ng-click="monsterFunction(+5)">+5</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

</body>
</html>
