<div ng-repeat='player in players' style="{{getMeepoStyle(player.position)}}" class="mp-box" ng-click='playerSheet($index); currentPlayer = $index' hm-panstart="radialOn(player)" hm-pan="flmouse(player)" hm-panend="positionCheck(player)">
  <div ng-show='player.active'>
    <svg version="1.1" x="0" y="0" viewBox="0 0 200 170">
      <ellipse fill="{{player.color[0]}}" cx="100" cy="90" rx="100" ry="80"></ellipse>
      <ellipse fill="{{player.color[1]}}" cx="100" cy="56" rx="56" ry="56"></ellipse>
    </svg>
    <table class="mp-counters">
      <tr>
        <td class="mp-level">{{player.lvl}}</td>
      </tr>
      <tr>
        <td class="mp-gear">{{player.lvl + player.gear}}</td>
      </tr>
    </table>
  </div>
</div>
